In [31]:
import pandas as pd
import numpy as np

In [188]:
df = pd.read_csv('adult_data.csv')
np.array(df['race'].value_counts())

array([27816,  3124,  1039,   311,   271], dtype=int64)

In [146]:
round(df[df['sex'] == 'Male']['age'].mean(),1)

39.4

In [145]:
#m1
len(df[df['education']=='Bachelors'])/len(df)*100
#m2
round(((df['education'] == 'Bachelors').mean() * 100),1)

16.4

In [186]:
higher_education = df[(df['education'].isin(['Bachelors','Masters','Doctorate']))]
lower_education = df[~(df['education'].isin(['Bachelors','Masters','Doctorate']))]
higher_education[higher_education['salary']=='>50K']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [187]:
len(higher_education[higher_education['salary']=='>50K'])/len(higher_education)*100
round(len(lower_education[lower_education['salary']=='>50K'])/len(lower_education)*100,1)

17.4

In [161]:
min_work_hours = df['hours-per-week'].min()
min_work_people = df[df['hours-per-week']==min_work_hours]
round(len(min_work_people[min_work_people['salary']=='>50K'])/len(min_work_people)*100)

10

In [182]:
rich_brats = df[df['salary']=='>50K']
rich_country = rich_brats['native-country'].value_counts()
total_by_country = df['native-country'].value_counts()
percentage_by_country = rich_country/total_by_country*100
percentage_by_country.idxmax()

'Iran'

In [184]:
round(percentage_by_country.max(),1)

41.9

In [139]:
indians = df[df['native-country']=='India']
indians = indians[indians['salary']=='>50K']
indians['occupation'].value_counts().idxmax()

'Prof-specialty'